body {
  background: #E5FFFF;
}
.jumbotron {
  height: 250px;
  background-color: #7ACEEF;
}
.jumbotron #jumbotronTitle {
  font: 50px 'sans-serif';
  color: white;
  text-align: center;
}
.navbar {
  margin-bottom: 0px;
}